fv-content
  div(:class="$root.mainClass")
    doc-description
      | To creating fulll-featured table inside your application, use this component. 
    doc-code
      = "<fv-table></fv-table>"
    doc-example
      fv-content.fv-row
        .fv-col-xs-12
          h4 Github API: (with total-count-key)
        .fv-col-xs-12
          fv-table(:fields="['id', {value: 'full_name', text: 'Name'}, 'score']",
            :limit="7",
            :ajax="axios",
            api="https://api.github.com/search/repositories?q=node&page={page}&per_page={limit}",
            api-rows-key="data.items",
            api-total-count-key="data.total_count")
        .fv-col-xs-12
          h4 Typicode API: (with formatter and without footer and limit)
        .fv-col-xs-12
          fv-table(:fields="[{value: 'username', formatter(v){ return '@'+v }}, 'name']",
            :limit="7",
            :ajax="axios",
            api="https://jsonplaceholder.typicode.com/users",
            api-rows-key="data",
            :footer="false")
        .fv-col-xs-12
          h4 Local rows without Clickable rows:
        p.fv-col-xs-12 Look at api table at bottom of page :D
    doc-api(:rows="api")
