span
  fv-input(:class="inputClass",
    :display-value="displayValue",
    :placeholder="placeholder",
    :required="required",
    :disabled="disabled",
    :value="value",
    render-type="display",
    caret-icon="fa fa-caret-down",
    @enter="open()",
    ref="inputEl")
  fv-dialog.fv-select(ref="dialog",
    :class="dialogClass",
    :buttons="dialogButtons",
    @close="$emit('close')",
    @open="$emit('open')",
    :first-focus-on="0",
    content-class="fv-no-padding")
    fv-main(ref="select")
      fv-header.fv-invert(v-if="search || allowInsert")
        fv-input.fv-form-control.fv-search-style.fv-grow(:placeholder="locale.search()",
          v-model="searchQuery",
          ref="searchQueryEl")
      fv-list.no-outline-border(:items="options.concat(localItems)",
        ref="list",
        :search-query="searchQuery",
        :selected="pValue",
        @click-item="clickItem($event, true)")
