span
  fv-input(:class="inputClass",
    :display-value="displayValue",
    :placeholder="placeholder",
    :required="required",
    :disabled="disabled",
    :value="value",
    render-type="display",
    caret-icon="fa fa-caret-down",
    @enter="open()",
    ref="inputEl")
  fv-dialog.fv-select(ref="dialog",
    :class="dialogClass",
    :buttons="dialogButtons",
    @close="$emit('close')",
    @open="$emit('open')",
    :title="!showInput && placeholder? placeholder: ''",
    :first-focus-on="true",
    :auto-close="false",
    content-class="fv-no-padding")
    fv-main(ref="select")
      fv-header.fv-invert(v-if="showInput")
        fv-input.fv-form-control.fv-search-style.fv-grow(:placeholder="placeholder || searchText",
          v-model="searchQuery",
          @keydown.native="$refs.list.keydown",
          ref="input")
      fv-content.fv-no-padding
        fv-list.fv-no-border(:items="options.concat(localItems)",
          :get-focus="showInput? false: true",
          ref="list",
          :search-query="searchQuery",
          :selected="pValue",
          @click-item="clickItem($event)")
