span
  fv-input(:class="inputClass",
    :display-value="displayValue",
    :placeholder="placeholder",
    :required="required",
    :disabled="disabled",
    :value="value",
    render-type="display",
    caret-icon="fa fa-caret-down",
    @enter="open()",
    ref="inputEl")
  fv-dialog.fv-select(ref="dialog",
    :class="dialogClass",
    :buttons="dialogButtons",
    position="center-bottom",
    @close="$emit('close')",
    @open="$emit('open')",
    :title="!showInput && placeholder? placeholder: ''",
    :first-focus-on="true",
    :auto-close="false")
    fv-main(ref="select")
      fv-header.fv-invert(v-if="showInput")
        fv-input.fv-form-control.fv-search-style.fv-grow(:placeholder="placeholder || searchText",
          v-model="searchQuery",
          @input="$emit('search', searchQuery)",
          @keydown.native="$refs.list.keydown",
          ref="input")
      fv-content.fv-no-padding
        .fv-text-center.fv-padding(v-show="loading")
          i.loading-icon.fa.fa-spin.fa-circle-o-notch.fv-fast-animation
        fv-list.fv-no-border(v-show="!loading",
          :items="options",
          ref="list",
          :search-query="search === true? searchQuery: ''",
          :selected="pValue",
          @click-item="clickItem($event)")
