span
  fv-input(:class="inputClass",
    :display-value="displayValue",
    :placeholder="placeholder",
    :required="required",
    :disabled="disabled",
    :value="value",
    render-type="display",
    caret-icon="fa fa-caret-down",
    @enter="open()",
    ref="inputEl")
  fv-dialog.fv-select(ref="dialog",
    :class="dialogClass",
    position="center-bottom",
    @close="$emit('close')",
    @open="$emit('open')",
    :first-focus-on="firstFocusOn",
    :auto-close="false")
    fv-main(ref="select")
      fv-header.fv-invert(v-if="showInput")
        .fv-title
          fv-input.fv-form-control.fv-search-style.fv-grow(:placeholder="placeholder || searchText",
            v-model="searchQuery",
            @input="$emit('search', searchQuery)",
            @keydown.native="$refs.list.onKeydown($event);",
            ref="input")
      fv-content.fv-no-padding
        .fv-text-center.fv-padding(v-show="loading")
          i.loading-icon.fa.fa-spin.fa-circle-o-notch.fv-fast-animation
        fv-list.fv-no-border(v-show="!loading",
          :tabindex="-1",
          parent,
          ref="list")
          fv-list-item(v-for="option in options",
            v-if="equalSearch(option)",
            @click="clickOption(option)",
            :selected="isSelected(option)",
            :disabled="optionProp(option, 'disabled')")
            slot(v-if="$scopedSlots.default", :option="option")
            span(v-else) {{optionProp(option, 'text')}}
          fv-list-item(v-if="allowInsert && searchQuery",
            @click="addOption(searchQuery)")
            i.fa.fa-plus
            |  
            span {{locale.add(searchQuery)}}
      fv-footer(v-if="multiple || allowInsert")
        .fv-grow
        fv-button.fv-ok(icon="fa fa-check",
          :text="locale.ok()",
          @click="close()")
