.fv-input.fv-input-select(v-if="renderType === 'display'",
  ref="inputEl",
  :class="{invalid: !fvValidate}",
  :tabindex="disabled? '': 0",
  :disabled="disabled",
  @keydown.enter="enter",
  @click="enter")
  span.placeholder(v-if="typeof displayValue == 'undefined' || displayValue === null || displayValue.length === 0",
    v-html="placeholder")
  span.fv-input-select-item(v-else-if="displayValue.constructor == Array")
    span(v-for="val in displayValue",
    v-html="val")
  span.fv-input-select-item-single(v-else,
    v-html="displayValue")
  span.fv-caret-icon
    i(v-if="caretIcon",
      :class="caretIcon")
input.fv-input(v-else,
  ref="inputEl",
  :disabled="disabled",
  :class="{invalid: !fvValidate}",
  :value="value",
  :placeholder="placeholder",
  @input="$emit('input', $event.target.value)")
