.fv-input.fv-input-select(v-if="renderType === 'display'",
  ref="inputEl",
  :class="{invalid: invalid, focus: focus}",
  :tabindex="disabled? '': 0",
  :disabled="disabled",
  @focus="checkInvalid(); focus = true;",
  @click="pClick($event)",
  @blur="focus = false;",
  @keydown.enter="pEnter($event)",
  @click.ative="pEnter($event)")
  span.placeholder(v-if="typeof displayValue == 'undefined' || displayValue === null || displayValue.length === 0",
    v-html="placeholder")
  span.fv-input-select-item(v-else-if="displayValue.constructor == Array",
    v-for="val in displayValue",
    v-html="val")
  span.fv-input-select-item-single(v-else,
    v-html="displayValue")
  span.fv-caret-icon
    i(v-if="caretIcon",
      :class="caretIcon")
  input.fv-hidden(tabindex="-1",
    :value="value",
    :required="required",
    @invalid.prevent="pFocus()",
    @focus="pFocus()")
input.fv-input(v-else,
  ref="inputEl",
  :disabled="disabled",
  :value="value",
  :required="required",
  :placeholder="placeholder",
  @input="$emit('input', $event.target.value)",
  @invalid.prevent="pFocus()")
