.fv-table
  table(:class="{'tf-loading': loading}")
    thead
      tr
        th(v-for="field in pFields",
          :class="field.class",
          v-html="field.text")
    tbody
      tr(v-for="(row, index) in pRows",
        :class="{'fv-clickable': clickableRows}",
        ref="rowElem",
        @click="rowClick(row, index)")
        td(v-for="field in pFields",
          :class="field.class",
          v-html="row[field.value]")
    tfoot(v-if="footer")
      tr
        td(:colspan="pFields.length")
          .page-control-continer
            fv-button(@click.native="fetch(previousPage)",
              :disabled="previousPage === false",
              v-html="prevPageBtnContent") 
            fv-input.fv-form-control(type="number",
              :value="page",
              :min="1",
              :max="totalPages",
              @input="setUserPage($event)",
              ref="userInputPage",
              :disabled="totalPages == 1") 
            span(v-if="totalPages !== false") {{locale.fromN(totalPages)}} 
            fv-button(@click.native="fetch(nextPage)",
              :disabled="nextPage === false",
              v-html="nextPageBtnContent")
